
:root {
  --main-scale: 4.5;
}

div#main {
  background-image: url("../images/background.png");
  width: 1125px;
  height: 995px;
}

div > img {
  transform: scale(0.5);
}

html {
  background-image: repeating-linear-gradient(to right, green, green 1%, darkgreen 1%, darkgreen 2%);
}

.wooden-frame {
  margin: 0 auto;
  background-color: #DDBB99; /* Wooden color */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Prevent padding from affecting element's width */
  border: 10px solid #8B4513; /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  width: 1183px;
}

@keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}

@keyframes bounce2 {
  0%, 15%, 45%, 75%, 100% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}

@keyframes bounce3 {
  0%, 10%, 40%, 70%, 100% { transform: translateY(0); }
  20% { transform: translateY(-20px); }
  50% { transform: translateY(-10px); }
}

@keyframes bounce4 {
  0%, 5%, 35%, 65%, 100% { transform: translateY(0); }
  10% { transform: translateY(-20px); }
  40% { transform: translateY(-10px); }
}

@keyframes bounce5 {
  0%, 25%, 55%, 85%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  70% { transform: translateY(-10px); }
}

@keyframes bounce6 {
  0%, 20%, 60%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  70% { transform: translateY(-10px); }
}

@keyframes bounce7 {
  0%, 15%, 45%, 85%, 100% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}

@keyframes bounce8 {
  0%, 10%, 30%, 50%, 100% { transform: translateY(0); }
  20% { transform: translateY(-20px); }
  40% { transform: translateY(-10px); }
}

@keyframes bounce9 {
  0%, 20%, 40%, 60%, 100% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  50% { transform: translateY(-10px); }
}

@keyframes bounce10 {
  0%, 10%, 20%, 30%, 100% { transform: translateY(0); }
  15% { transform: translateY(-20px); }
  25% { transform: translateY(-10px); }
}
.letter {
  position: relative;
  background-size: contain;
}

.the_letter_p {
  background-image: url("../images/letters/Slice 1.png");
  width: calc(238px / var(--main-scale));
  height: calc(401px / var(--main-scale));
  top: 106px;
  left: 214px;
  animation: bounce1 2s infinite;
}

.the_letter_i {
  background-image: url("../images/letters/Slice 2.png");
  width: calc(86px / var(--main-scale));
  height: calc(399px / var(--main-scale));
  top: 18px;
  left: 274px;
  animation: bounce2 2s infinite;
}


.the_letter_z {
  background-image: url("../images/letters/Slice 3.png");
  width: calc(250px / var(--main-scale));
  height: calc(405px / var(--main-scale));
  top: -72px;
  left: 303px;
  animation: bounce3 2s infinite;
}

.the_letter_z2 {
  background-image: url("../images/letters/Slice 4.png");
  width: calc(270px / var(--main-scale));
  height: calc(405px / var(--main-scale));
  top: -162px;
  left: 368px;
  animation: bounce4 2s infinite;
}

.the_letter_a {
  background-image: url("../images/letters/Slice 5.png");
  width: calc(207px / var(--main-scale));
  height: calc(414px / var(--main-scale));
  top: -253px;
  left: 432px;
  animation: bounce5 2s infinite;
}

.the_letter_p2 {
  background-image: url("../images/letters/Slice 6.png");
  width: calc(254px / var(--main-scale));
  height: calc(437px / var(--main-scale));
  top: -344px;
  left: 538px;
  animation: bounce6 2s infinite;
}

.the_letter_a2 {
  background-image: url("../images/letters/Slice 7.png");
  width: calc(240px / var(--main-scale));
  height: calc(439px / var(--main-scale));
top: -439px;
    left: 584px;
  animation: bounce7 2s infinite;
}

.the_letter_r {
  background-image: url("../images/letters/Slice 8.png");
  width: calc(271px / var(--main-scale));
  height: calc(424px / var(--main-scale));
  top: -534px;
  left: 634px;
  animation: bounce8 2s infinite;
}

.the_letter_t {
  background-image: url("../images/letters/Slice 9.png");
  width: calc(309px / var(--main-scale));
  height: calc(424px / var(--main-scale));
  top: -623px;
  left: 689px;
  animation: bounce9 2s infinite;
}

.the_letter_y {
  background-image: url("../images/letters/Slice 10.png");
  width: calc(324px / var(--main-scale));
  height: calc(424px / var(--main-scale));
    top: -716px;
    left: 763px;
  animation: bounce10 2s infinite;
}

.box_front {
  position: relative;
  background-size: contain;
  background-image: url("../images/box-front.png");
  width: 219px;
  height: 291px;
  top: -509px;
  left: 128px;
  z-index: 100;
}

@keyframes slice1 {
  0%, 20%, 50%, 100% { transform: translateY(100px); }
  40% { transform: translateY(20px); }
  60% { transform: translateY(0px); }
  80% { transform: translateY(20px); }
}

.slice_1 {
  position: relative;
  background-size: contain;
  background-image: url("../images/slices/slice_1.png");
  width: calc(500px / var(--main-scale));
  height: calc(622px / var(--main-scale));
  top: -436px;
  left: 137px;
  animation: slice1 10s infinite;
}

@keyframes slice1_fingers {
  0%, 20%, 50%, 100% {
    top: -467px;
    left: 160px;
    transform: rotate(346deg) scaleY(0);
  }
  40% {
    top: -460px;
    left: 165px;
    transform: rotate(346deg) scaleY(0.8);
  }
  60% {
    top: -460px;
    left: 165px;
    transform: rotate(346deg) scaleY(1);
  }
  80% {
    top: -460px;
    left: 165px;
    transform: rotate(346deg) scaleY(0.8);
  }
}

.slice_1_fingers {
  position: relative;
  background-size: contain;
  background-image: url("../images/slices/slice_1_fingers.png");
  width: calc(80px);
  height: calc(21px);
  top: -460px;
  left: 165px;
  transform: rotate(346deg);
  z-index: 1000;
  animation: slice1_fingers 10s infinite;
}

.blamo {
  position: relative;
  background-size: contain;
  background-image: url("../images/blamo.png");
  width: calc(416px);
  height: calc(242px);
  left: 245px;
  top: -1075px;
  animation: blamo 3s infinite;
}

@keyframes blamo {
  0%, 20%, 50%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
}

.peppers {
  position: relative;
  background-size: cover;
  background-image: url(../images/peppers.png);
  width: calc(48px);
  height: calc(116px);
  left: 852px;
  top: -1093px;
  animation: pepperz 3s infinite;
}

@keyframes pepperz {
  0%, 100% {
    height: calc(116px);
  }
  50% {
    height: calc(0px);
  }
}
